.siteInfo code {
  @apply p-4;
  --ifm-pre-padding: 0 1rem 1rem;
}

.codeBlock pre {
  padding: 0;
  margin: 0;
}


.commentContainer {
  width: 50%; /* 设置评论区的最大宽度 */
  margin: 0 auto;   /* 将评论区居中 */
  padding: 1rem;    /* 增加适当的内边距 */
}
